*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 30px 50px;
    width:100%;
    height: 80px;
}
.header_title{
    font-family: 'Learning Curve';
    font-size: 70px;
    font-weight: bold;
}

.ul_navigation{
    display: flex;
    align-items: center;
}
.list{
    margin-left: 60px;
    color: #707070;
    font-family: 'Brandon Grotesque';
}
.icon{
  margin-left: 250px;
}
.last_icons img {
    margin-right:15px;  
}
.last_icons img:last-child {
    margin-right:0;
}
.background{
    background-image:url('images/Banner.png');
    height: 100vh;
    display: flex;
    justify-content: center;
    background-attachment:fixed;
    align-items: flex-end;
}
.background_title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:150px 80px;
    background-color: white;
    width:400px;
    height:100px;
}
.text_title{
    font-size: 30px;
    font-family: 'Kazimir-RegularItalic';
}
.section_background{
    display: flex;
    justify-content:space-around;
    background-color: #306B34;
    align-items: center;
    height: 100vh;
    width: 100%;  
}

.book_icon_img{
    height: 60vh;
    margin-left: 70px;
}

.text_beside{
    display: inline-block;
    margin:60px 40px 60px 40px;
    width: 200px;
    height: 50%;
}
.txt_title{
    margin-bottom: 40px;
    color:black;
    font-size: 30px;
    color: #3F3F3F;
    font-family: 'Brandon Grotesque';
}
.second_text{
    color: white;
    font-family: 'Kazimir-RegularItalic';
}






























































.t-section{
    display: flex;
    flex-direction: column;
    height: 617px;
    align-items: center;

}
.t-section > h2{
    margin-top: 110px;
    font-size: 40px;
    color: #36413E;
    font-family: Kazimir-RegularItalic;
}
.t-section > p {
    font-size: 20px;
    width: 696px;
    height: 247px;
    color: #7F7F7F;
    font-family: Kazimir-RegularItalic;
    margin-top: 64px;
}
.b-box{
    display: flex;
    background-color: #707070;
    width: 148px;
    height: 48px;
    align-items: center;
    justify-content: space-around;
    color: white; 
    font-family: Brandon Grotesque;
    font-weight: bold;
}
footer{
    display: flex;
    height: 76px;
    background-color: #306B34;
    align-items: center;
}
footer > h3 {
    color: white;
    font-family: 'Brandon Grotesque';
    font-weight: bold;
    font-size: 12px;
    margin-left: 31px;
}
.footer-nav{
    margin-left: 422px;
    text-align: center;
    max-width: 275px;
    display: flex;
    color: white;
    font-size: 10px;
    font-family: 'Brandon Grotesque';
    justify-content: space-around;
    width: 100%;

}
