*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 30px 50px;
    width:100%;
}
.header_title{
    font-family: 'Learning Curve';
    font-size: 70px;
    font-weight: bold;

}

.ul_navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    text-align: 10px;
}






























































.t-section{
    display: flex;
    flex-direction: column;
    height: 617px;
    align-items: center;

}
.t-section > h2{
    margin-top: 110px;
    font-size: 40px;
    color: #36413E;
    font-family: Kazimir-RegularItalic;
}
.t-section > p {
    font-size: 20px;
    width: 696px;
    height: 247px;
    color: #7F7F7F;
    font-family: Kazimir-RegularItalic;
    margin-top: 64px;
}
.b-box{
    display: flex;
    background-color: #707070;
    width: 148px;
    height: 48px;
    align-items: center;
    justify-content: space-around;
    color: white; 
    font-family: Brandon Grotesque;
    font-weight: bold;
}
footer{
    display: flex;
    height: 76px;
    background-color: #306B34;
    align-items: center;
}
footer > h3 {
    color: white;
    font-family: 'Brandon Grotesque';
    font-weight: bold;
    font-size: 12px;
    margin-left: 31px;
}
.footer-nav{
    margin-left: 422px;
    text-align: center;
    max-width: 275px;
    display: flex;
    color: white;
    font-size: 10px;
    font-family: 'Brandon Grotesque';
    justify-content: space-around;
    width: 100%;

}
